<h1><%= @restaurant.name %></h1>
<div><%= @restaurant.category %></div>
<%= @restaurant.address %>

<div><%= link_to "Back to list", restaurants_path, class:"btn btn-primary" %></div>


<% @reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end %>
